h1 {
    font-size: 50px;
    font-weight: normal;
    }

  * {
        color: white ;
        font-family: Verdana ;
        text-align: center ;
        background-color: black ;
    }

h2 {
  font-size: 42px ;
  font-weight: 300;
}


#aquatext {
  font-size: 16px;
  color: aquamarine;
}

#graytext {
   font-size: 21px;
   color: gray;
}

#graytext2 {
   font-size: 21px;
   color: gray;
   text-align: right;
}
